mixin product(imgSrc, title, text, linkText)
  .product
    .product__media
      img(src=imgSrc)
    .product__content
      h3.content__title=title
      p.content__text=text
      .content__button
        a(href='#')=linkText

mixin galary-item(imgSrc, linkHref)
  .vertical-item.content-absolute
    .item-media
      img(src=imgSrc, alt='')
      .media-links
        a.abs-link(title='', href=linkHref)
    .item-content.darken_gradient

mixin services-item(imgSrc, imgAlt, title, linkText)
  .col-md-3.col-sm-6
    .vertical-item.content-absolute.square_teaser
      .item-media.item-media_radius
        img(src=imgSrc, alt=imgAlt)
      .item-content
        h4=title
      .item-content__link
        a.services-link(href='/category.html') Перейти

mixin news-item(imgSrc, title, price)
  .vertical-item
    .item-media
      img(src=imgSrc, alt='')
    .item-content
      p.item-meta
        span.news-item__title=title
        span.pull-right.news-item__price=price

mixin default-tab-item(imgSrc, title, text)
  .vertical-item.content-absolute.square_teaser
    .item-media
      img(src=imgSrc)
    .item-content
      h2=title
      p=text

mixin tab-item1(imgSrc, title, text)
  .wrapper-vertical-item
    .vertical-item.post.content-padding.text-center.ls.box-shadow
      .item-media
        img(src=imgSrc)
        .media-links
          a.abs-link(href='#')
      .item-content
        h3.entry-title
          a(href='item.html')=title
        p=text
        a.item-content_btn(href='item.html') Подробнее

mixin tab-item2(imgSrc, title, text)
  .isotope-item.bottommargin_30.col-lg-4.col-md-6.col-sm-12.photography
    .vertical-item.gallery-extended-item.with_background.text-center
      .item-media
        img(src=imgSrc, alt='')
        .media-links
          a.abs-link(title='', href='gallery-single.html')
      .item-content
        h3.item-title
          a(href='gallery-single.html')=title
        span.categories-links
          a.theme_button.small_button.color1(rel='category', href='gallery-extended-2-cols.html') Category 1
        p=text
        .item-button
          a.theme_button.wide_button.inverse(href='item.html') Подробнее

mixin news(imgSrc, title, text)
  .side-item.event-item.content-padding.with_background
    .row
      .col-md-6
        .item-media
          img(src=imgSrc, alt='')
          .media-links
            a.abs-link(href='newsItem.html')
      .col-md-6
        .item-content
          h2.entry-title.topmargin_0
            a(href='newsItem.html')=title
          p.item-meta.greylinks
            i.rt-icon2-calendar4.highlight
            | Феварль 12, 2016
          a(href='newsItem.html').text-news=text